.marker_map {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.items {
    width: 90%;
    margin: 100px auto 0px;
}

.slick-slide {
    margin: 10px;
}

.slick-slide img {
    width: 100%;
    border: 0 solid #fff;
}

.tab_modelo {
    background-color: #fff !important;
    font-size: 20px !important;
    color: #008670 !important;
}

.nav-link.tab_modelo.active {
    font-weight: 600 !important;
    border-bottom: 10px solid #008670 !important;
}

.tab_forma {
    background-color: #fff !important;
    font-size: 20px !important;
    color: #f53b2e !important;
}

.nav-link.tab_forma.active {
    font-weight: 600 !important;
    border-bottom: 10px solid #f53b2e !important;
}

.tab_decorativa {
    background-color: #fff !important;
    font-size: 20px !important;
    color: #ff951b !important;
}

.nav-link.tab_decorativa.active {
    font-weight: 600 !important;
    border-bottom: 10px solid #ff951b !important;
}

.tab_arqueometrica {
    background-color: #fff !important;
    font-size: 20px !important;
    color: #c2aa09 !important;
}

.nav-link.tab_arqueometrica.active {
    font-weight: 600 !important;
    border-bottom: 10px solid #c2aa09 !important;
}

.tab_pieza_clave {
    background-color: #fff !important;
    font-size: 20px !important;
    color: #357baa !important;
}

.nav-link.tab_pieza_clave.active {
    font-weight: 600 !important;
    border-bottom: 10px solid #357baa !important;
}

.tabs-busqueda {
    margin-right: 6px;
}

.tab_modelo .nav-tabs-custom {
    font-size: 1.07rem !important;
}

.tab_modelo .nav-tabs-custom span {
    color: #535353;
}

.tab_modelo .nav-tabs-custom .active span {
    color: #fff;
}

.tab_modelo .nav-tabs-custom .active {
    background-color: #00c3a3 !important;
    font-weight: bolder;
}

.tab_modelo .flex-column .active {
    color: #fff !important;
    background-color: #00c3a3 !important;
    font-weight: bolder;
}

.tab_modelo .flex-column a:hover {
    color: #505d69;
}

.tab_modelo .card {
    font-size: 10pt !important;
}

.tab_forma .nav-tabs-custom {
    font-size: 1.07rem !important;
}

.tab_forma .nav-tabs-custom span {
    color: #535353;
}

.tab_forma .nav-tabs-custom .active span {
    color: #fff;
}

.tab_forma .nav-tabs-custom .active {
    background-color: #e57f6c !important;
    font-weight: bolder;
}

.tab_forma .flex-column .active {
    color: #fff !important;
    background-color: #f53b2e !important;
    font-weight: bolder;
}

.tab_forma .flex-column a:hover {
    color: #505d69;
}

.tab_forma .card {
    font-size: 10pt !important;
}

.tab_decorativa .nav-tabs-custom {
    font-size: 1.07rem !important;
}

.tab_decorativa .nav-tabs-custom span {
    color: #535353;
}

.tab_decorativa .nav-tabs-custom .active span {
    color: #fff;
}

.tab_decorativa .nav-tabs-custom .active {
    background-color: #ffa667 !important;
    font-weight: bolder;
}

.tab_decorativa .flex-column .active {
    color: #fff !important;
    background-color: #ff8800 !important;
    font-weight: bolder;
}

.tab_decorativa .flex-column a:hover {
    color: #505d69;
}

.tab_decorativa .card {
    font-size: 10pt !important;
}

.tab_arqueometrica .nav-tabs-custom {
    font-size: 1.07rem !important;
}

.tab_arqueometrica .nav-tabs-custom span {
    color: #535353;
}

.tab_arqueometrica .nav-tabs-custom .active span {
    color: #fff;
}

.tab_arqueometrica .nav-tabs-custom .active {
    background-color: #cedc00 !important;
    font-weight: bolder;
}

.tab_arqueometrica .flex-column .active {
    color: #fff !important;
    background-color: #c2aa09 !important;
    font-weight: bolder;
}

.tab_arqueometrica .flex-column a:hover {
    color: #505d69;
}

.tab_arqueometrica .card {
    font-size: 10pt !important;
}

.tab_pieza_clave .nav-tabs-custom {
    font-size: 1.07rem !important;
}

.tab_pieza_clave .nav-tabs-custom span {
    color: #535353;
}

.tab_pieza_clave .nav-tabs-custom .active span {
    color: #fff;
}

.tab_pieza_clave .nav-tabs-custom .active {
    background-color: #1badcf !important;
    font-weight: bolder;
}

.tab_pieza_clave .flex-column .active {
    color: #fff !important;
    background-color: #1badcf !important;
    font-weight: bolder;
}

.tab_pieza_clave .flex-column a:hover {
    color: #505d69;
}

.tab_pieza_clave .card {
    font-size: 10pt !important;
}
